.fm {
    height: calc( 100vh - 250px );
    margin-top: 0.5em;
    line-height: normal;
}

.fm .panel-single {
    border: none;
    margin: 1px;
}

.fm .files {
    margin-top: 0.25em;
}

.fm .fm-header {
    text-transform: capitalize;
}

/* Undo bootstrap link styles */
.fm .files .name a {
    color: revert;
    background-color: revert;
}

.modal-main {
    top: 160px !important;
    left: 25px !important;
    right: 25px !important;
    bottom: 75px !important;
    height: unset !important;
    width: unset !important;
}

.fm, .fm pre, .fm code, .modal-main {
    font-family     : 'Droid Sans Mono', 'Ubuntu Mono', 'Consolas', monospace;
    font-size       : 16px;
}

.fm label {
    display: revert;
}
